<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- demo3 begin-->

    <!--目标对象-->
    <bean id="personService" class="demo3_aop.aop.impl.PersonServiceImpl"/>
    <!--切面-->
    <bean id="aspectBean" class="demo3_aop.aop.aspect.AopAspect"/>
    <!--配置切入点-->
    <aop:config proxy-target-class="false">
        <aop:aspect ref="aspectBean">
            <aop:pointcut id="pointcut" expression="execution(* demo3_aop.aop..*.*(..))"/>
            <aop:before pointcut-ref="pointcut" method="doPPBefore"/>
            <aop:after pointcut-ref="pointcut" method="doPPAfter"/>
            <aop:around pointcut-ref="pointcut" method="doAround"/>
            <aop:after-returning pointcut-ref="pointcut" method="doAfterReturning" returning="result"/>
            <aop:after-throwing pointcut-ref="pointcut" method="doAfterThrowing" throwing="ex"/>
        </aop:aspect>
    </aop:config>

    <!-- demo3 end-->
    <!-- demo4 begin-->
    <bean id="beanPostProcessor" class="demo4_beanLife.MyBeanPostProcessor"/>
    <bean id="instantiationAwareBeanPostProcessor" class="demo4_beanLife.MyInstantiationAwareBeanPostProcessor"/>
    <bean id="beanFactoryPostProcessor" class="demo4_beanLife.MyBeanFactoryPostProcessor"/>

    <bean id="personLife" class="demo4_beanLife.Person" init-method="myInit"
          destroy-method="myDestory" scope="singleton"
          p:name="张三" p:address="广州" p:phone="139"/>
    <!-- demo4 end-->

    <!-- demo5 begin-->
    <bean id="testBeanService" class="demo5_ioc_di.TestBeanServiceImpl"/>
    <!-- demo5 end-->

</beans>
