<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/aop
				http://www.springframework.org/schema/aop/spring-aop.xsd">



	<!-- demo3 -->
	<!--目标对象-->
	<bean id="aopTest" class="demo3_aop.aop.ATest"/>
	<!--切面-->
	<bean id="aspect" class="demo3_aop.Aspect"/>
	<!--配置切入点-->
	<aop:config>
		<aop:pointcut id="pointcut" expression="execution(* demo3_aop.aop.*.*(..))"/>
		<aop:aspect ref="aspect">
			<aop:before method="doBefore" pointcut-ref="pointcut"/>
			<aop:after method="doAfter" pointcut-ref="pointcut"/>
		</aop:aspect>
	</aop:config>

	<!-- demo3 -->

</beans>
